@import 'tailwindcss';

:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #077a7d;
  background-color: #f5eedd;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  color: #077a7d;
}
h2 {
  color: #077a7d;
}
p {
  color: #06202b;
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 5rem;
}

.speechContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  max-width: 800px;
  margin: 0 auto;
}

.buyerBubble,
.agentBubble {
  padding: 1rem;
  border-radius: 10px;
  max-width: 80%;
  margin-bottom: 1rem;
  color: white;
}

.buyerBubble {
  background-color: #077a7d;
  align-self: flex-start;
  border-bottom-left-radius: 0;
}

.agentBubble {
  background-color: #4a5568;
  align-self: flex-end;
  border-bottom-right-radius: 0;
}
